@font-face {
    font-family: 'avenir-next-condensed-bold';
    src: url('AvenirNextCondensed-Bold.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir-next-condensed-bolditalic';
    src: url('AvenirNextCondensed-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'avenir-next-condensed-italic';
    src: url('AvenirNextCondensed-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir-next-condensed-regular';
    src: url('AvenirNextCondensed-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
