@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Bold.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
